
<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      html { height: 100% }
      body { 
        height: 100%; 
        margin: 0; 
        text-align: center;
        margin-top: 20px;
      }

      #map-canvas { 
        height: 100%;
        margin: 0 auto;
      }
      #right-navbar-text{ float: right;}
      .panel {
        margin-top: 20px;

      }
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&amp;sensor=true&amp;callback=initialize">
    </script>

    <script type="text/javascript">
    //GEOLOCATION
      var geocoder;
      var latlng;
      navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);

      function handleGeolocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var cookie_val = lat + "|" + lng;
        document.cookie = "lat_lng=" + escape(cookie_val); path = '/places';
        var la;
        setAddress(lat, lng);
      };

      function setAddress(latitude, longitude) {
        geocoder = new google.maps.Geocoder();
        latlng = new google.maps.LatLng(latitude, longitude);

        result = geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            current_address = results[0].formatted_address;
            $("#address").html(current_address);
            
            //if user has moved locations
            //var str = document.cookie;
            var start = document.cookie.search("lat_lng");
            var end = document.cookie.length;
            var str = document.cookie.slice(start, end);
            //alert("\n"+ '<%=cookies["lat_lng"]%>');
            //alert("str: "+str+", "+"lat_lng=" + latitude + "%7C" + longitude);
            //unless (str == "lat_lng=" + latitude + "%7C" + longitude || not a new session )
            //if (str == "lat_lng=" + latitude + "%7C" + longitude)
              { reinitialize(latitude, longitude); }
          }
          else {
            $("#address").html("Geocoder failed due to: " + status);
          }
        });
      }
    </script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%=@lat%>, <%=@lng%>),
          zoom: <%= @zoom %>,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
        <% unless cookies["lat_lng"] == "40.741|-73.9898" %>
          addMarker(<%=@lat%>, <%=@lng%>, "YOU ARE HERE", true);
        <% end %>  

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %> 
      } //end initialize

      function reinitialize(latitude, longitude) {
        var mapOptions = {
          center: new google.maps.LatLng(latitude, longitude),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
          addMarker(latitude, longitude, "YOU ARE HERE", true);

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %> 
      } //end reinitialize

      google.maps.event.addDomListener(window,'load',initialize);

    </script>
  </head>

<body>
  <div class="container">
    <%= render 'shared/header' %>

    <div class="navbar-form">
    <%= form_for @trip, html: {class: "form-inline", name: "trip_search"} do |f| %>
      <div class="form-group has-info">
        <%= f.label :origin, class: "sr-only" %>
        <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
      </div>
      <div class="form-group ">
        <%= f.label :destination, class: "sr-only" %> 
        <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
      </div>
      <%= f.submit "Find Station Directions", class: "btn btn-info " %>
    <% end %>
    </div>

    <script>
      function link_address() {
        if (document.getElementById('address').innerHTML.trim() != "searching...") {
          document.getElementById('trip_origin').value = document.getElementById('address').innerHTML;
        }
      }
    </script>

    <h3><small>Current Location (approximate):
        <a style="cursor:pointer" onclick="link_address();">
          <div id="address" style="display: inline-block">
            searching...
          </div>
        </a>
    </small></h3>

    <!-- button logic -->
    <div class="bs-example">
     <!-- default cookies value -->
     <% if cookies["lat_lng"] == "40.741|-73.9898" %>
          <%= render 'shared/find_stations_btn' %>

        <% if signed_in? %>
          <%= render 'shared/show_places_btn' %>
        <% else %>
         <%= render 'shared/get_places_btn' %>
        <% end %>

      <% else %>
       <%= render 'shared/show_stations_btn' %>

       <% if signed_in? %>
         <%= render 'shared/show_places_btn' %>
        <% else %>
          <%= render 'shared/get_places_btn' %>
        <% end %>

      <% end %>
    </div>


  <div class="panel panel-default">
    <div class="panel-body" id="map-canvas" style="height: 600px"></div>
  </div>

  <nav class="navbar navbar-default " role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li><a style="cursor:pointer" onclick='alert("CitibikeBetter is a map to better help citibikers get around New York." + "\n" + "\n" + 

      "Search for directions the same way you would on Google Maps. You will be shown biking directions from the closest station to your origin with bikes available to the closest station to your destination with open docks." + "\n" + "\n" +

      "The homepage should find your current location automatically. Press Find Staitons to see a dropdown menu of nearby stations, represented on the map by orange markes. Click on a station to see its current bike/dock status." + "\n" + "\n" + 

      "You can also store your favorite places, e.g., Home, to get quick directions to a specific address from your current location.");'>What is this?</a></li>
      <li><a href="https://github.com/snebel/Citibike" target="blank">Source Code</a></li>
      <li><a class="text-primary" href="mailto:sam@samnebel.com?Subject=CitibikeBetter" target="_top">Contact</a></li>
    </ul>

    <div class="navbar navbar-nav navbar-right">
      <p class="navbar-text">Made in <strong>NYC</strong> by <a href="http://www.samnebel.com" target="blank">Sam Nebel</a></p>
    </div>
  </nav>

  </div>
  </body>
</html>
