
<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      html { height: 100% }
      body { 
        height: 100%; 
        margin: 0; 
        text-align: center;
        padding-top: 50px;
      }
      #map-canvas { 
        height: 100%;
        margin: 0 auto;
      }
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&amp;sensor=true&amp;callback=initialize">
    </script>

    <script type="text/javascript">
    //GEOLOCATION
      var geocoder;
      var latlng;
      navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);

      function handleGeolocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var cookie_val = lat + "|" + lng;
        document.cookie = "lat_lng=" + escape(cookie_val);
        var la;
        setAddress(lat, lng);
      };

      function setAddress(latitude, longitude) {
        geocoder = new google.maps.Geocoder();
        latlng = new google.maps.LatLng(latitude, longitude);

        result = geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            current_address = results[0].formatted_address;
            $("#address").html("Current Location (approximate): " + current_address);
            
            //if user has moved locations
            //var str = document.cookie;
            var start = document.cookie.search("lat_lng");
            var end = document.cookie.length;
            var str = document.cookie.slice(start, end);

            alert("str: "+str+", "+"lat_lng=" + latitude + "%7C" + longitude);

            if (str == "lat_lng=" + latitude + "%7C" + longitude)
              { reinitialize(latitude, longitude); }
          }
          else {
            $("#address").html("Geocoder failed due to: " + status);
          }
        });
      }
    </script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%=@lat%>, <%=@lng%>),
          zoom: <%= @zoom %>,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
        <% unless cookies["lat_lng"] == "40.741|-73.9898" %>
          addMarker(<%=@lat%>, <%=@lng%>, "YOU ARE HERE", true);
        <% end %>  

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %> 
      } //end initialize

      function reinitialize(latitude, longitude) {
        var mapOptions = {
          center: new google.maps.LatLng(latitude, longitude),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
          addMarker(latitude, longitude, "YOU ARE HERE", true);

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %> 
      } //end reinitialize

      google.maps.event.addDomListener(window,'load',initialize);

    </script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">CBB</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if cookies["lat_lng"] == "40.741|-73.9898" %>
            <li><a href="/">Find Stations</a></li>
            <% if signed_in? %>
              <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown">Favorite Places <span class="badge"> <%=@stas.size%> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% current_user.places.each do |place| %>
                    <li><h5><%= link_to place.name, place%></h5></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><h6><%= link_to 'add new place', new_place_path %><h6></li>
                </ul>
              </li>
            <% else %>
              <li><a href="/users/sign_in">Favorite Places</a></li>
            <% end %>
          <% else %>
            <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown">Nearby Stations <span class="badge"> <%=@stas.size%> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if !@stas.empty? %>
                  <% @stas.each do |sta| %>
                    <li><a ><h5><%= sta["label"]%></br><h4><small><%= sta.available_bikes %> bikes,  <%= sta.available_docks %> docks</small></h4></a></li>
                  <% end %>
                <% else %>
                  <li><h6>No active stations nearby</h6></li>
                <% end %>
              </ul>

            <% if signed_in? %>
              <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown">Favorite Places <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% current_user.places.each do |place| %>
                    <li><h5><%= link_to place.name, place%></h5></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><h6><%= link_to 'add new place', new_place_path %><h6></li>
                </ul>
              </li>
            <% else %>
              <li><a href="/users/sign_in">Favorite Places</a></li>
            <% end %>

          <% end %>

          <li>
            <% if signed_in? %>
              <%= link_to "sign out", destroy_user_session_path, method: "delete" %>
            <% else %>
              <%= link_to "sign in", new_user_session_path %>   
            <% end %>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container">

    <header>
      <!--
      <p class="text-left">
      <% if signed_in? %>
        <%= current_user.email %> <%= link_to "sign out", destroy_user_session_path, method: "delete" %>
      <% else %>
        <%= link_to "sign in", new_user_session_path %>   
      <% end %> </p>
      -->

      <h1>CitibikeBetter<small> a useful map for citibikers</small></h1>
    </header>

    <div class="navbar-form">
    <%= form_for @trip, html: {class: "form-inline"} do |f| %>
      <div class="form-group">
        <%= f.label :origin, class: "sr-only" %>
        <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
      </div>
      <div class="form-group ">
        <%= f.label :destination, class: "sr-only" %> 
        <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
      </div>
      <%= f.submit "Find Station Directions", class: "btn btn-info " %>
    <% end %>
  </div>


    <h3 class="address_div"><small><div id="address">Finding current location... <%= @current_address %></div></small></h3>

    <!-- button logic -->
    <div class="bs-example">
     <!-- default cookies value -->
     <% if cookies["lat_lng"] == "40.741|-73.9898" %>
          <%= render 'shared/find_stations_btn' %>

        <% if signed_in? %>
          <%= render 'shared/show_places_btn' %>
        <% else %>
         <%= render 'shared/get_places_btn' %>
        <% end %>

      <% else %>
       <%= render 'shared/show_stations_btn' %>

       <% if signed_in? %>
         <%= render 'shared/show_places_btn' %>
        <% else %>
          <%= render 'shared/get_places_btn' %>
        <% end %>

      <% end %>
    </div>

  
  
  


  <div class="panel panel-default">
    <div class="panel-body" id="map-canvas" style="height: 600px"></div>
  </div>

  </div>
  </body>
</html>
