
<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      html { height: 100% }
      body { 
        height: 100%; 
        margin: 0; 
        text-align: center;
        margin-top: 20px;
      }

      #map-canvas { 
        height: 100%;
        margin: 0 auto;
      }
      #right-navbar-text{ float: right;}
      .panel {
        margin-top: 20px;

      }
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&amp;sensor=true&amp;callback=initialize">
    </script>

    <script type="text/javascript">
      var latlng;
      var geocoder;
      var map;
      //GEOLOCATION API
      navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);

      function handleGeolocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var cookie_val = lat + "|" + lng;
        document.cookie = "lat_lng=" + escape(cookie_val); path = '/places';
        setAddress(lat, lng);
      };

      function setAddress(latitude, longitude) {
        geocoder = new google.maps.Geocoder();
        latlng = new google.maps.LatLng(latitude, longitude);

        result = geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            current_address = results[0].formatted_address;
            $("#address").html(current_address);
            
            var start = document.cookie.search("lat_lng");
            var end = document.cookie.length;
            var str = document.cookie.slice(start, end);
            reinitialize(latitude+1, longitude+1); 
          }
          else {
            $("#address").html("Geocoder failed due to: " + status);
          }
        });
      };

      
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%=@lat%>, <%=@lng%>),
          zoom: <%= @zoom %>,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        <% unless cookies["lat_lng"] == "40.741|-73.9898" %>
          addMarker(<%=@lat%>, <%=@lng%>, "YOU ARE HERE", true);
        <% end %>  

        new google.maps.BicyclingLayer().setMap(map);

        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %>")
        <% end %> 
      } //end initialize

      function reinitialize(latitude, longitude) {
        /*
        var mapOptions = {
          center: new google.maps.LatLng(latitude, longitude),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }; 
        
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
        addMarker(latitude, longitude, "YOU ARE HERE", true);

        new google.maps.BicyclingLayer().setMap(map);
        */
        map.setCenter(new google.maps.LatLng(latitude, longitude));
        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %>

      }; //end reinitialize

      google.maps.event.addDomListener(window,'load',initialize);
    </script>

  </head>

<body>
    <%= flash[:error] %>
  <div class="container">
    <%= render 'shared/header' %>

    <div class="navbar-form">
    <%= form_for @trip, html: {class: "form-inline", name: "trip_search"} do |f| %>
      <div class="form-group has-info">
        <%= f.label :origin, class: "sr-only" %>
        <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
      </div>
      <div class="form-group ">
        <%= f.label :destination, class: "sr-only" %> 
        <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
      </div>
      <%= f.submit "Find Station Directions", class: "btn btn-info " %>
    <% end %>
    </div>

    <h3><small>Current Location (approximate):
        <a style="cursor:pointer" onclick="link_address();">
          <div id="address" style="display: inline-block">
            searching...
          </div>
        </a></small>
    </h3>

    <!-- button logic -->
    <div class="bs-example">
      <% if cookies["lat_lng"] == "40.741|-73.9898" %>
          <%= render 'shared/find_stations_btn' %>
        <% if signed_in? %>
          <%= render 'shared/show_places_btn' %>
        <% else %>
         <%= render 'shared/get_places_btn' %>
        <% end %>
      <% else %>
       <%= render 'shared/show_stations_btn' %>
       <% if signed_in? %>
         <%= render 'shared/show_places_btn' %>
        <% else %>
          <%= render 'shared/get_places_btn' %>
        <% end %>
      <% end %>
    </div>

  <div class="panel panel-default">
    <div class="panel-body" id="map-canvas" style="height: 600px"></div>
  </div>
  <%= render 'shared/footer' %>
  </div>
  </body>
</html>
