
<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      html { height: 100% }
      body { 
        height: 100%; 
        margin: 0; 
        text-align: center;
      }
      #map-canvas { 
        height: 100%;
        margin: 0 auto;
      }
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&amp;sensor=true&callback=initialize">
    </script>

    <script type="text/javascript">
    //GEOLOCATION
      var geocoder;
      var latlng;
      navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);

      function handleGeolocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var cookie_val = lat + "|" + lng;
        document.cookie = "lat_lng=" + escape(cookie_val);
        var la;
        setAddress(lat, lng);
        //setStation();
      };

      function setAddress(latitude, longitude) {
        geocoder = new google.maps.Geocoder();
        latlng = new google.maps.LatLng(latitude, longitude);

        result = geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            current_address = results[0].formatted_address;
            $("#address").html("Current Location (approximate): " + current_address);
          }
          else {
            $("#address").html("Geocoder failed due to: " + status);
          }
        });
      }

      function handleNoGeolocation(error) {
        switch(error.code)
        {
          case error.PERMISSION_DENIED:
            return "User denied the request for Geolocation.";
          case error.POSITION_UNAVAILABLE:
            return "Location information is unavailable.";
          case error.TIMEOUT:
            return "The request to get user location timed out.";
          case error.UNKNOWN_ERROR:
            return "An unknown error occurred.";
        }
      }
    </script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%=@lat%>, <%=@lng%>),
          zoom: <%= @zoom %>,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
        <% unless cookies["lat_lng"] == "40.741|-73.9898" %>
          addMarker(<%=@lat%>, <%=@lng%>, "YOU ARE HERE", true);
        <% end %>  

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %> 
      } //end initialize

      google.maps.event.addDomListener(window,'load',initialize);
    </script>
  </head>

  <body>
    <header>
    <p class="text-left">
      <% if signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to "sign out", destroy_user_session_path, method: "delete" %>
      <% else %>
        <%= link_to "sign in", new_user_session_path %>   
      <% end %>
    </p>
    </header>

    <div class="container">
    <div class="page-header">
      <h1>CitibikeBetter<small> a useful map for citibikers</small></h1>
    </div>

    <!--
    <script type="text/javascript">
    //GEOLOCATION
      var geocoder;
      var latlng;
      navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);

      function handleGeolocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var cookie_val = lat + "|" + lng;
        document.cookie = "lat_lng=" + escape(cookie_val);
        var la;
        setAddress(lat, lng);
        //setStation();
      };

      function setAddress(latitude, longitude) {
        geocoder = new google.maps.Geocoder();
        latlng = new google.maps.LatLng(latitude, longitude);

        result = geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            current_address = results[0].formatted_address;
            $("#address").html("Current Location (approximate): " + current_address);
          }
          else {
            $("#address").html("Geocoder failed due to: " + status);
          }
        });
      }

      function handleNoGeolocation(error) {
        switch(error.code)
        {
          case error.PERMISSION_DENIED:
            return "User denied the request for Geolocation.";
          case error.POSITION_UNAVAILABLE:
            return "Location information is unavailable.";
          case error.TIMEOUT:
            return "The request to get user location timed out.";
          case error.UNKNOWN_ERROR:
            return "An unknown error occurred.";
        }
      }
    </script>
    -->


    <h3 class="address_div"><small><div id="address">Finding current location... <%= @current_address %></div></small></h3>

    <!-- button logic -->
  <div class="bs-example">
    <!-- default cookies value -->
    <% if cookies["lat_lng"] == "40.741|-73.9898" %>
        <%= render 'shared/find_stations_btn' %>
      <% if signed_in? %>
        <%= render 'shared/show_places_btn' %>
      <% else %>
        <%= render 'shared/get_places_btn' %>
      <% end %>
    <% else %>
      <%= render 'shared/show_stations_btn' %>
      <% if signed_in? %>
        <%= render 'shared/show_places_btn' %>
      <% else %>
        <%= render 'shared/get_places_btn' %>
      <% end %>
    <% end %>
  </div>

  <div class="navbar-form">
    <%= form_for @trip, html: {class: "form-inline"} do |f| %>
      <div class="form-group">
        <%= f.label :origin, class: "sr-only" %>
        <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
      </div>
      <div class="form-group">
        <%= f.label :destination, class: "sr-only" %> 
        <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
      </div>
      <%= f.submit "Find Station Directions", class: "btn btn-info" %>
    <% end %>
  </div>


  <div class="panel panel-default">
    <div class="panel-body" id="map-canvas" style="height: 600px"></div>
  </div>
    

    <footer>
      <p></p>
    </footer>
  </div>
  </body>
</html>
