
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!--
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; text-align: center;padding: 0 }
      #map-canvas { 
        height: 100%;
      }
    </style>
    -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&sensor=true">
    </script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(40.741, -73.9898),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |station| %>
          addMarker(<%= station["latitude"] %>, 
            <%= station["longitude"] %>, 
           "Bikes: <%= station["availableBikes"] %> Docks: <%= station["availableDocks"] %>")
        <% end %> 
      } //end initialize

      google.maps.event.addDomListener(window,'load',initialize);

    </script>
  </head>

  <body>
    <h1>Welcome to CityBike</h1>
    <h4>Enter locations the same as on Google Maps</h4> 

    <%= form_for @trip do |f| %>
      <%= f.label :origin %>
      <%= f.text_field :origin %> 
      <%= f.label :destination %> 
      <%= f.text_field :destination %> 
      <%= f.submit %>
    <% end %>

    <div id="map-canvas" style="width: 700px; height: 900px"/>
  </body>
</html>
