
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; text-align: center;
      header { text-align: left; }
      #map-canvas { 
        height: 100%;
        margin: 0 auto;
        border: 3px solid black;
      }
    </style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&amp;sensor=true&callback=initialize">
    </script>

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          //center: new google.maps.LatLng(40.741, -73.9898),
          center: new google.maps.LatLng(<%=@lat%>, <%=@lng%>),
          zoom: <%= @zoom %>,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        //mark closest station and current location
        <% unless cookies["lat_lng"] == "40.741|-73.9898" %>
          addMarker(<%=@lat%>, <%=@lng%>, "YOU ARE HERE", true);
        <% end %>  

        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        //add station markers
        <% get_stations.each do |sta| %>
          addMarker(<%= sta["latitude"] %>, <%= sta["longitude"] %>, "Bikes: <%= sta["availableBikes"] %> Docks: <%= sta["availableDocks"] %> <%=sta["label"]%>")
        <% end %> 
      } //end initialize

      google.maps.event.addDomListener(window,'load',initialize);
    </script>
  </head>

  <body>
    <header>
      <% if signed_in? %>
        <p>Signed in as <%= current_user.email %>
        <%= link_to "sign out", destroy_user_session_path, method: "delete" %></p>      
      <% end %>
    </header>

    <div class="container">
    <h1>Welcome to CitiBikeBetter</h1>

    <script type="text/javascript">
    //GEOLOCATION
      var geocoder;
      var latlng;
      navigator.geolocation.getCurrentPosition(handleGeolocation, handleNoGeolocation);


      function handleGeolocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var cookie_val = lat + "|" + lng;
        document.cookie = "lat_lng=" + escape(cookie_val);
        var la;
        setAddress(lat, lng);
        //setStation();
      };

      function setAddress(latitude, longitude) {
        geocoder = new google.maps.Geocoder();
        latlng = new google.maps.LatLng(latitude, longitude);

        result = geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            current_address = results[0].formatted_address;
            $("#address").html("Current Location (approximate): " + current_address);
          }
          else {
            $("#address").html("Geocoder failed due to: " + status);
          }
        });
      }

      function handleNoGeolocation(error) {
        switch(error.code)
        {
          case error.PERMISSION_DENIED:
            return "User denied the request for Geolocation.";
          case error.POSITION_UNAVAILABLE:
            return "Location information is unavailable.";
          case error.TIMEOUT:
            return "The request to get user location timed out.";
          case error.UNKNOWN_ERROR:
            return "An unknown error occurred.";
        }
      }
    </script>

      <div id="address"><p>Finding current location... <%= @current_address %></p></div>

      <% if cookies["lat_lng"] == "40.741|-73.9898" %>
        <p><%= link_to "refresh", root_path %> to find closest stations</p>
      <% else %>
        <div class="bs-example">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Closest Stations <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% if !@stas.empty? %>
                <% @stas.each do |sta| %>
                  <li><strong><%= sta["label"]%></strong></br> (<%= sta.available_bikes %> bikes,  <%= sta.available_docks %> docks)</li>
                <% end %>
              <% else %>
                <li>No active stations nearby</li>
              <% end %>
            </ul>
          </div>

          <% if signed_in? %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Favorite Places <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% current_user.places.each do |place| %>
                <li><%= link_to place.name, place, 'data-no-turbolink' => true %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to 'add new place', new_place_path %></li>
            </ul>
          </div>
          <% end %>
        </div>
      <% end %>

    <% unless signed_in? %>
      <p><%= link_to 'sign in', new_user_session_path %> to view favorite places</p>
    <% end %>

    <%= form_for @trip, html: {class: "form-inline"} do |f| %>
      <div class="form-group">
        <%= f.label :origin, class: "sr-only" %>
        <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
      </div>
      <div class="form-group">
        <%= f.label :destination, class: "sr-only" %> 
        <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
      </div>
      <%= f.submit "Find Station Directions", class: "btn btn-default" %>
    <% end %>

    <div id="map-canvas" style="width: 700px; height: 700px"/>

    <footer>
      <p></p>
    </footer>
  </div>
  </body>
</html>
