<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&sensor=true">
      //having issue here with getting old trips to appear
    </script>

    <script type="text/javascript">
      var directionsService = new google.maps.DirectionsService();

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById("directions"));

        addMarker(<%=@trip.origin_lat%>, <%=@trip.origin_long%>, "You are here!");
        addMarker(<%=@trip.destination_lat%>, <%=@trip.destination_long%>, "Final destination")
      } //end initialize

      google.maps.event.addDomListener(window,'load',initialize);


      //show station-station directions
      <% if @orig_sta != nil && @dest_sta != nil %>
        calcRoute("<%= "#{@orig_sta.lat}, #{@orig_sta.long}" %>", "<%= "#{@dest_sta.lat}, #{@dest_sta.long}" %>");
      <% else %>
        calcRoute("<%= @trip.origin %>", "<%= @trip.destination %>");
      <% end %>

    </script>
  </head>
  <body>
  	<header>
  	  <%= link_to "home", root_path %>  
  	</header>
  	<h3><%= @trip.origin %> to <%= @trip.destination %></h3>
    <% if @orig_sta == nil || @dest_sta == nil %>
      <h4>Citibike is not a good choice for this route</h4>
    <% else %>
  	  <h4>Closest bike at: <%= @orig_sta["label"] %> (<%= @orig_sta.available_bikes %> bikes available)</h4>

      <h4>Closest dock at: <%=@dest_sta["label"]%> (<%= @dest_sta.available_docks %> docks available)</h4>
    <% end %>

  	<div id="map-canvas" style="width: 700px; height: 900px"/>
  	</div>
  	
  </body>
</html>
