<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
      html { height: 100% }
      body { 
        height: 100%; 
        margin: 0; 
        text-align: center;
      }
      #map-canvas { 
        height: 100%;
        margin: 0 auto;
      }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&sensor=true">

      //having issue here with getting old trips to appear
    </script>

    <script type="text/javascript">
      var directionsService = new google.maps.DirectionsService();

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById("directions"));

        addMarker(<%=@trip.origin_lat%>, <%=@trip.origin_long%>, "YOU ARE HERE", true);
        addMarker(<%=@trip.destination_lat%>, <%=@trip.destination_long%>, "<%= @trip.destination %>", true)
      } //end initialize

      google.maps.event.addDomListener(window,'load',initialize);

      //show station-station directions
      <% if @orig_sta != nil && @dest_sta != nil %>
        calcRoute("<%= "#{@orig_sta.lat}, #{@orig_sta.long}" %>", "<%= "#{@dest_sta.lat}, #{@dest_sta.long}" %>");
      <% else %>
        calcRoute("<%= @trip.origin %>", "<%= @trip.destination %>");
      <% end %>

    </script>
  </head>
  <body>
  	<header>
  	  <p class="text-left"><%= link_to "home", root_path %></p>
  	</header>
  <div class="container">
    <% if @orig_sta == nil || @dest_sta == nil %>
    <!-- IF  -->
      <div class="alert alert-danger">
        <p class="text-left"><strong>Citibike is not a good choice for this route.</strong> Try searching again</p>
      </div>

      <div class="navbar-form">
        <%= form_for @trip, html: {class: "form-inline"} do |f| %>
        <div class="form-group">
          <%= f.label :origin, class: "sr-only" %>
          <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
        </div>
        <div class="form-group">
          <%= f.label :destination, class: "sr-only" %> 
          <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
        </div>
          <%= f.submit "Change this Trip", class: "btn btn-info" %>
        <% end %>
      </div>
    <% else %>
    <!-- ELSE -->


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @trip.origin%> to <%=@trip.destination%></h4>
        </div>

      <table class="table table-hover">
        <tr class="success">
          <td>Get bike from (A)</td>
          <!--<td>Closest Bike:</td>-->
          <td><%= @orig_sta["label"] %></td>
          <td><%= @orig_sta.available_bikes %> bikes available</td>
        </tr>
        <tr class="danger">
          <td>Park bike at (B)</td>
          <!--<td>Closest Dock:</td>-->
          <td><%=@dest_sta["label"]%></td>
          <td><%= @dest_sta.available_docks %> docks available</td>
        </tr>
      </table>
      </div>
      <!--
  	  <h4>Closest Bike: (A) <%= @orig_sta["label"] %> (<%= @orig_sta.available_bikes %> bikes available)</h4>

      <h4>Closest Dock: (B) <%=@dest_sta["label"]%> (<%= @dest_sta.available_docks %> docks available)</h4>
      -->

      <div class="navbar-form">
        <%= form_for @new_trip, html: {class: "form-inline"} do |f| %>
        <div class="form-group">
          <%= f.label :origin, class: "sr-only" %>
          <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
        </div>
        <div class="form-group">
          <%= f.label :destination, class: "sr-only" %> 
          <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
        </div>
          <%= f.submit "New Station Directions", class: "btn btn-info" %>
        <% end %>

      </div>
      
    <% end %>
    <!-- END IF ELSE -->

    <div class="panel panel-default">
  	  <div class="panel-body" id="map-canvas" style="height: 700px"/></div>
    </div>

  </div>
  </body>
</html>
