
  <div class="form-group">
    <%= f.label :origin, class: "sr-only" %>
    <%= f.text_field :origin, class: "form-control", placeholder: "Origin" %>
  </div>
  <div class="form-group">
    <%= f.label :destination, class: "sr-only" %> 
    <%= f.text_field :destination, class: "form-control", placeholder: "Destination" %>
  </div>
  <%= f.submit "Find Station Directions", class: "btn btn-info" %>
