
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&sensor=true">
    </script>

    <script type="text/javascript">
      var directionsService = new google.maps.DirectionsService();


      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();

        var mapOptions = {
          center: new google.maps.LatLng(<%=@place.lat%>, <%=@place.lng%>),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById("directions"));

        addMarker(<%= @lat %>, <%= @lng %>, "YOU ARE HERE!", true);
        addMarker(<%=@place.lat%>, <%=@place.lng%>, "<%=@place.name%>", true);
      } //end initialize
      
      google.maps.event.addDomListener(window,'load',initialize);

      <% if @o_sta != nil && @d_sta != nil %>
        calcRoute("<%= "#{@o_sta.lat}, #{@o_sta.long}" %>", "<%= "#{@d_sta.lat}, #{@d_sta.long}" %>");
      <% else %>
        calcRoute("<%= "#{@lat}, #{@lng}" %>", "<%= @place.address %>");
      <% end %>
    </script>

  </head>
  <body>
  	<header>
  	  <%= link_to "home", root_path %> 
  	</header>
  	<h3>Your Location to <%=@place.name%> (<%=@place.address%>)</h3>
    <% if @o_sta == nil || @d_sta == nil %>
      <h4> Citibike is not a good choice for this route</h4>
    <% else %>
      <h4>Get bike at: <%= @o_sta["label"] %> (<%= @o_sta["availableBikes"] %> bikes available)</h4>

      <h4>Park bike at: <%= @d_sta["label"] %> (<%= @d_sta["availableDocks"] %> docks available)</h4>
    <% end %>
    <%= button_to "delete place", @place, :method => :delete %>
  	
  	<div id="map-canvas" style="width: 700px; height: 900px"/>
  	</div>
  	<!--<div id="directions" style="float:left;width:30%;height:100%"></div>-->
  </body>
</html>
