
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
      html { height: 100% }
      body { 
        height: 100%; 
        margin: 0; 
        text-align: center;
        margin-top: 20px;
      }
      #map-canvas { 
        height: 100%;
        margin: 0 auto;
      }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUxuJVuvsR7Fy6J5ZBThZ4zAX79mrFGbI&sensor=true">
    </script>

    <script type="text/javascript">
      var directionsService = new google.maps.DirectionsService();

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();

        var mapOptions = {
          center: new google.maps.LatLng(<%=@place.lat%>, <%=@place.lng%>),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          }; 

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        directionsDisplay.setMap(map);
        //directionsDisplay.setPanel(document.getElementById("directions"));
        //alert('<%=@orig%>' + "\n"+"\n"+ '<%=cookies["lat_lng"]%>');

        <% unless @o_sta == nil || @d_sta == nil %>
          addMarker(<%= @lat %>, <%= @lng %>, "You are here", true);
          addMarker(<%=@place.lat%>, <%=@place.lng%>, "<%=@place.address%>", true);
        <% end %>
      } //end initialize
      
      google.maps.event.addDomListener(window,'load',initialize);

      <% if @o_sta != nil && @d_sta != nil %>
        calcRoute("<%= "#{@o_sta.lat}, #{@o_sta.long}" %>", "<%= "#{@d_sta.lat}, #{@d_sta.long}" %>");
      <% else %>
        calcRoute("<%= "#{@lat}, #{@lng}" %>", "<%= @place.address %>");
      <% end %>

    </script>

  </head>
  <body>
    <div class="container">
  	<header>
  	  <%= render 'shared/header' %>
  	</header>

  
    <% if @o_sta == nil || @d_sta == nil %>
      <div class="alert alert-danger">
        <p class="text-left"><strong>Citibike is not</strong> a good way to get from <strong>(A)</strong> your current location to <strong>(B)</strong> <%= @place.name %>. Edit or delete this place below.</p>
      </div>
    <% else %>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Current Location <small>to</small> <%=@place.name%></h4>
            </div>
            <table class="table table-hover">
              <tr>
                <td>Closest Bike <b class="text-success">(A)</b></td>
                <td><b class="text-success"><%= @o_sta["label"] %></b></td>
                <td><%= @o_sta["availableBikes"] %> bikes available</td>
              </tr>
              <tr>
                <td>Closest Dock <b class="text-danger">(B)</b></td>
                <td><b class="text-danger"><%= @d_sta["label"] %></b></td>
                <td><%= @d_sta["availableDocks"] %> docks available</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>

  	
    <div class="panel panel-default">
      <div class="panel-body" id="map-canvas" style="height: 600px"/></div>
    </div>

    <h3><small>Not the place you wanted? Edit or delete it from your favorites</small></h3>
    <div class="navbar-form">
      <%= form_for @place, html: {class: "form-inline"} do |f| %>
        <div class="form-group has-warning">
          <%= f.label :name, class: "sr-only" %>
          <%= f.text_field :name, class: "form-control", placeholder: "New Name" %>
        </div>
        <div class="form-group has-warning">
          <%= f.label :address, class: "sr-only" %>
          <%= f.text_field :address, class: "form-control", placeholder: "New Address" %>
        </div>
          <%= f.submit "Update Place", class: "btn btn-warning" %>
          <%= f.submit "Delete", class: "btn btn-danger" %>
      <% end %>
    </div>
    <p>-</p>
    <!--<div id="directions" style="float:left;width:30%;height:100%"></div>-->
  </div>
  </body>
</html>
